################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiCore_CloudTest1/bin/Debug/netcoreapp2.2
